<container>
    <row>
        <center>
            <p class="text-center unsubscribe-block"> Письмо отправлено на [(EMAIL)]
        </center>
    </row>
    <spacer size="16"></spacer>
    <row>
        <columns large="6" small="12" class="typography">
            <center>
                <button class="button-alt" href="mailto:teploobmen.rf@mail.ru">Отправить заявку</button>
            </center>
        </columns>
        <columns large="6" small="12">
            <center>
                <button class="button-alt" href="[(UNSUB)]">Отписаться</button>
            </center>
        </columns>
    </row>
    <row>
        <p class="footer-background under-button-text text-center">Почта для заявок: <br/><a class="mailto-link" href="mailto:teploobmen.rf@mail.ru">teploobmen.rf@mail.ru</a></p>
    </row>
</container>