<row>
    <center>
        <p class="text-center unsubscribe-block"> Письмо отправлено на [(EMAIL)], потому что ранее вы делали запрос
            в нашу компанию</br>
    </center>
</row>
<row>
    <columns large="6" small="12">
        <center>
            <button class="button-alt" href="mailto:teploobmen.rf@mail.ru">Отправить заявку</button>
        </center>
    </columns>
    <columns large="6" small="12">
        <center>
            <button class="button-alt" href="http://prodazha-optom.ru/unsubscribe/875678">Отписаться</button>
        </center>
    </columns>
</row>
<row>
    <p class="footer-background under-button-text text-center">Почта для заявок: <br/><a class="mailto-link" href="mailto:teploobmen.rf@mail.ru">teploobmen.rf@mail.ru</a></p>
</row>
</container>
</wrapper>