<container>
    <row>
        <columns large="12" small="12" class="footer">
            <p class="unsubscribe-block typography">
                Письмо отправлено на [(EMAIL)], потому что вы были нашим клиентом.</br>
                Больше не хотите получать наши письма?
                <a href="http://prodazha-optom.ru/unsubscribe/875678">Отпишитесь здесь</a>
            </p>
            <center>
                <img alt="footer" src="{{link}}/assets/img/armaseti_footer.jpg"/>
            </center>
        </columns>
    </row>
</container>