@import 'settings';
@import 'foundation-emails';
@import 'template/template';


//BODY=================================================================================================================
.header {
  background-color: $dark-color;
  h1 {
    color: white;
    margin-bottom: 0;
    font-size: 14px;
  }
}

.heading {
  font-size: 14px;
}

.from, .source, .subject {
  font-size: 14px;
}

.body {
  background-color: white;
}