@import 'settings';
@import 'foundation-emails';
@import 'template/template';

@media only screen and (max-width: #{$global-breakpoint}) {
  td table.container, table.body .container {
    width: 100% !important;
    margin: 0;
  }
  th.footer.small-12.large-12.columns.first.last {
    padding: 0 !important;
  }
  p.unsubscribe-block {
    font-size: 12px;
    padding-left: 16px;
    padding-right: 16px;
  }
}


//ROOT
.wrapper-inner {
  padding: 0 !important
}
//HEADER================================================================================================================

//BODY=================================================================================================================
.typography {
  padding-left: 40px !important;
  padding-right: 40px !important;
}
.galeznik-head {
  font-size: 12px !important;
  background-color: #f2f9fd !important;
  .link {
    color: #007eff !important;
  }
  table.button.tiny {
    margin: 8px 0 0 0 !important;
  }
}
.online-seminar {
  span {
    font-size: 14px !important;
  }
  img {
    margin-bottom: 16px;
  }
  .description span{
    font-size: 12px !important;
  }
}
.speakers img {
  width: 236px;
}
.container.silver tbody tr td {
  padding: 16px !important;
  background-color: #f1f1f1 !important;
  margin: 0 16px;
  h3 {
    color: black !important;
  }
  .handouts span {
    text-decoration: underline;
  }
  .price {
    font-size: 18px;
  }
}
.container.gold tbody tr td {
  padding: 16px !important;
  background-color: #ffffd1;
  .price {
    font-size: 18px;
    span {
      text-decoration: line-through;
      color: gray !important;
    }
  }
}

.container.platinum tbody tr td {
  padding: 16px !important;
  background-color: #f2d7ce;
  .price {
    font-size: 18px;
  }
}

.small-text span {
  font-size: 11px !important;
}

.container .row .callout-inner.alert {
  color: black !important;
  background-color: #FEE5EE !important;
}

//TABLE=================================================================================================================
.table {
  width: auto !important;
  font-size: 16px;
}
.table td {
  vertical-align: middle;
  padding: 8px 24px 8px 16px;
  span {
    font-size: 13px;
  }
}
.table__column-title {
  padding: 16px;
  border-bottom: 1px solid $secondary-color;
}
//.table__column-title_image {
//  width: 75px;
//  margin: auto;
//  padding: 5px;
//}
.table__row-title {
  vertical-align: middle;
}
.table__row_odd-row {
  //background-color: #ededed;
}

//ADVANTAGES============================================================================================================
h4 > span {
  color: $primary-color;
}
.advantages__list {
  list-style-type: none;
  padding: 0 !important;
  font-size: 14px;
}
.advantages__title {
  color: $primary-color;
  font-weight: bold;
}
.advantages__list__item-text {
  color: $secondary-color;
  font-size: 14px;
}
.contacts-block__title {
  font-weight: bold;
  font-size: 14px;
}
.contacts-block__text {
  color: white;
  font-size: 14px;
}
.contacts-block__link {
  color: white !important;
  text-decoration: underline;
  font-size: 13px;
}
.contacts-block__address {
  font-size: 12px;
  margin-bottom: auto;
}
.callout {
  margin-bottom: auto !important;
}

//FOOTER================================================================================================================
th.footer.small-12.large-12.columns.first.last {
  padding: 0 !important;
}
.unsubscribe-block {
  font-size: 12px !important;
}
