<container>
    <row>
        <columns valign="middle" large="12" small="12" class="typography">
            <h4>Почему наши цены на <span>7-15%</span> ниже средних?<br>Мы напрямую работаем с производителями.</h4>
            <ul class="advantages__list">
                <li>– Более 5000 позиций на складе.</li>
                <li>– Отправка в день получения денег.</li>
                <li>– Оптом от одной штуки + скидки на объём.</li>
                <li>– Паспорта, сертификаты, заводские гарантии.</li>
                <li>– Крупнейший склад запорной арматуры в Cибири.</li>
            </ul>
        </columns>
    </row>

<spacer size="24"></spacer>

    <row>
        <columns large="4" small="12">
            <center>
                <button class="success"
                        href="mailto:sale@prodazha-optom.ru?subject=Заявка."
                >Отправить заявку</button>
            </center>
        </columns>
    </row>
    <spacer size="16"></spacer>
    <row>
        <columns class="typography" larger="12" small="12">
            <p>Склад в Москве:<br>📞 +7 (499) 704-21-01   📧 opt-495@yandex.ru</p>
            <p>Склад в Новосибирске:<br>📞 +7 (383) 207-86-72   📧 prom-armatura@list.ru</p>
        </columns>
    </row>
</container>