<wrapper class="header">
    <container class="header-background">
        <row class="collapse">
            <columns small="6" large="6">
                <img alt="header-part 1"
                     src="https://gallery.mailchimp.com/adc3e7c5b22d07c07d52373b4/images/8c84f02e-6156-4f14-af56-b6ab5717b375.jpg"/>
            </columns>
            <columns small="6" large="6">
                <a href="tel:+73832923684">
                    <img alt="header-part 2"
                         src="https://gallery.mailchimp.com/adc3e7c5b22d07c07d52373b4/images/2071898d-d8ec-414c-ac4d-0aef8238f856.jpg"/>
                </a>
            </columns>
        </row>
        <row class="collapse">
            <columns small="6" large="6">
                <img alt="header-part 3"
                     src="https://gallery.mailchimp.com/adc3e7c5b22d07c07d52373b4/images/c768f21e-a35b-411e-91de-d91a8f1b829f.jpg"/>
            </columns>
            <columns small="6" large="6">
                <a href="mailto:sale@prodazha-optom.ru">
                    <img alt="header-part 4"
                         src="https://gallery.mailchimp.com/adc3e7c5b22d07c07d52373b4/images/446f3f17-df58-4041-bf01-1654d8f22f98.jpg"/>
                </a>
            </columns>
        </row>
    </container>
</wrapper>