<wrapper class="header">
    <container>
        <row>
            <columns small="4" large="4">
                <center>
                <img alt="logo"
                     src="https://gallery.mailchimp.com/adc3e7c5b22d07c07d52373b4/images/d7f4accb-1b68-4323-a79b-b0064b5b3ae2.png" />
                </center>
            </columns>
            <columns small="4" large="4">
                <center>
                    <a href="tel:+73832923684">+7 (383) 292-36-84</a>
                </center>
            </columns>
            <columns small="4" large="4">
                <center>
                    <a href="mailto:sale@prodazha-optom.ru">sale@prodazha-optom.ru</a>
                </center>
            </columns>
        </row>
    </container>
</wrapper>