<row>
    <columns large="12">
        <table class="table" border="0" cellpadding="5" cellspacing="0">
            <tbody>
            <tr valign="center">
                <td class="table__column-title table__column-title_left-edge" nowrap></td>
                <td class="table__column-title" nowrap>Размеры</td>
                <td class="table__column-title" nowrap>В розницу</td>
                <td class="table__column-title" nowrap>От 50т.руб.</td>
                <td class="table__column-title table__column-title_right-edge" nowrap>От 150т.руб.</td>
            </tr>
            <tr class="table__row_odd-row">
                <td nowrap rowspan="5" class="table__row-title">Тройники ст20</td>
                <td nowrap>159*8х89*6</td>
                <td nowrap>4810</td>
                <td nowrap>4373</td>
                <td nowrap>4183</td>
            </tr>
            <tr>
                <td nowrap>219*4.5</td>
                <td nowrap>2200</td>
                <td nowrap>2000</td>
                <td nowrap>1913</td>
            </tr>
            <tr class="table__row_odd-row">
                <td nowrap>219*6</td>
                <td nowrap>2262</td>
                <td nowrap>2056</td>
                <td nowrap>1967</td>
            </tr>
            <tr>
                <td nowrap>219*6х108*4</td>
                <td nowrap>2119</td>
                <td nowrap>1926</td>
                <td nowrap>1843</td>
            </tr>
            <tr class="table__row_odd-row">
                <td nowrap>…</td>
                <td nowrap>…</td>
                <td nowrap>…</td>
                <td nowrap>…</td>
            </tr>
            </tbody>
        </table>
    </columns>
</row>
