<row>
    <columns large="12">
        <table class="table" border="0" cellpadding="5" cellspacing="0">
            <tbody>
                <tr valign="center">
                    <td class="table__column-title table__column-title_left-edge" nowrap></td>
                    <td class="table__column-title" nowrap>Диаметр</td>
                    <td class="table__column-title table__column-title_right-edge" nowrap>Цена</td>
                </tr>
                <tr class="table__row_odd-row">
                    <td nowrap rowspan="9" class="table__row-title">30с41нж (Вода)</td>
                    <td nowrap>50</td>
                    <td nowrap>2800</td>
                </tr>
                <tr>
                    <td nowrap>80</td>
                    <td nowrap>4100</td>
                </tr>
                <tr class="table__row_odd-row">
                    <td nowrap>100</td>
                    <td nowrap>5500</td>
                </tr>
                <tr>
                    <td nowrap>150</td>
                    <td nowrap>10800</td>
                </tr>
                <tr class="table__row_odd-row">
                    <td nowrap>200</td>
                    <td nowrap>16500</td>
                </tr>
                <tr>
                    <td nowrap>250</td>
                    <td nowrap>24000</td>
                </tr>
                <tr class="table__row_odd-row">
                    <td nowrap>300</td>
                    <td nowrap>33800</td>
                </tr>
                <tr>
                    <td nowrap>350</td>
                    <td nowrap>62000</td>
                </tr>
                <tr class="table__row_odd-row">
                    <td nowrap>400</td>
                    <td nowrap>83000</td>
                </tr>
            </tbody>
        </table>
    </columns>
</row>
