<row>
    <columns large="12">
        <table class="table" border="0" cellpadding="5" cellspacing="0">
            <tbody>
            <tr valign="center">
                <td class="table__column-title table__column-title_left-edge" nowrap>Название</td>
                <td class="table__column-title table__column-title_right-edge" nowrap>Цена</td>
            </tr>
            <tr class="table__row_odd-row">
                <td nowrap>Тройник 530*10 (ст20) ГОСТ 17376-01</td>
                <td nowrap>27000</td>
            </tr>
            <tr>
                <td nowrap>Задвижка 30с41нж Ду 400 Ру16</td>
                <td nowrap>83000</td>
            </tr>
            <tr class="table__row_odd-row">
                <td nowrap>Затвор 600 повор. диск. редуктор</td>
                <td nowrap>	58000</td>
            </tr>
            <tr>
                <td nowrap>Заглушка фланцевая Ду500 Ру16</td>
                <td nowrap>12500</td>
            </tr>
            <tr class="table__row_odd-row">
                <td nowrap>Отвод 820*10 (ст20) R=1 шовный</td>
                <td nowrap>36000</td>
            </tr>
            <tr>
                <td nowrap>Компенсатор рез. фланц. Ду300 Ру 16</td>
                <td nowrap>8500</td>
            </tr>
            <tr class="table__row_odd-row">
                <td nowrap>Фильтр магнитный фланцевый 300</td>
                <td nowrap>35497</td>
            </tr>
            <tr>
                <td nowrap>Переход 630*12х530*10 эксцентрический</td>
                <td nowrap>14000</td>
            </tr>
            <tr class="table__row_odd-row">
                <td nowrap>Вентиль 15ч14п Ду200 Ру16 чугунный</td>
                <td nowrap>13680</td>
            </tr>
            <tr>
                <td nowrap>Фланец 1400-10-1 ст20 плоский</td>
                <td nowrap>29130</td>
            </tr>
            <tr class="table__row_odd-row">
                <td nowrap>Клапан 16ч42р Ду300 Ру2,5</td>
                <td nowrap>15000</td>
            </tr>
            <tr>
                <td nowrap>Фланец 600-10-1 ст20 воротниковый</td>
                <td nowrap>7000</td>
            </tr>
            <tr class="table__row_odd-row">
                <td nowrap>Вентиль 15с22нж Ду100 Ру40</td>
                <td nowrap>10928</td>
            </tr>
            <tr>
                <td nowrap>Клапан двустворчатый Ду600 Ру16 межфл.</td>
                <td nowrap>31000</td>
            </tr>
            <tr class="table__row_odd-row">
                <td nowrap>Отвод 720*10 (ст20) R=1 шовный</td>
                <td nowrap>28100</td>
            </tr>
            </tbody>
        </table>
    </columns>
</row>
