
    <row>
        <columns>
            <p class="welcome-unsub__attention text-center">!!!</p>
            <p class="text-center"><strong>Если вы ничем не связаны с запорной арматурой и не хотите<br> получать наши письма в дальнейшем,
                то все эти ссылки для вас:</strong></p>
        </columns>
    </row>
    <row>
        <columns large="12" small="12">
            <menu class="small-vertical">
                <item href="http://prodazha-optom.ru/unsubscribe/875678" target="_blank">
                    <strong>В спам!</strong>
                </item>
                <item href="http://prodazha-optom.ru/unsubscribe/875678" target="_blank">
                    <strong>Неинтересно</strong>
                </item>
                <item href="http://prodazha-optom.ru/unsubscribe/875678" target="_blank">
                    <strong>Отписаться</strong>
                </item>
                <item href="http://prodazha-optom.ru/unsubscribe/875678" target="_blank">
                    <strong>Не получать</strong>
                </item>
                <item href="http://prodazha-optom.ru/unsubscribe/875678" target="_blank">
                    <strong>Unsubscribe</strong>
                </item>
            </menu>
        </columns>
    </row>
    <spacer size="16"></spacer>
    <row>
        <columns large="1" small="1"></columns>
        <columns large="9" small="9">
        <p class="text-center"><strong>…Но тогда вы не заработаете на:</strong></p>
            <ul class="welcome-unsub__list">
                <li>
                    <p>позициях, которые мы возим из Китая;</p>
                </li>
                <li>
                    <p>неликвидах (со скидкой 15% от дилерских цен);</p>
                </li>
                <li>
                    <p>распродажах и акциях.</p>
                </li>
            </ul>
        </columns>
        <columns large="1" small="1"></columns>
    </row>
