

    <row>
        <columns large="6" small="6" valign="middle">
            <strong text="center">
                Если Вы не связаны с запорной арматурой и не хотите получать наши письма,
                то отпишитесь
            </strong>
            <spacer size="16"></spacer>
            <center>
                <button href="[(UNSUB)]" target="_blank" class="small">Отписаться</button>
            </center>
            <!--<menu class="small-vertical">-->
                <!--<item href="[(UNSUB)]" target="_blank">-->
                    <!--<strong class="welcome-unsub__link">В спам!</strong>-->
                <!--</item>-->
                <!--<item href="[(UNSUB)]" target="_blank">-->
                    <!--<strong class="welcome-unsub__link">Неинтересно</strong>-->
                <!--</item>-->
                <!--<item href="[(UNSUB)]" target="_blank">-->
                    <!--<strong class="welcome-unsub__link">Отписаться</strong>-->
                <!--</item>-->
                <!--<item href="[(UNSUB)]" target="_blank">-->
                    <!--<strong class="welcome-unsub__link">Не получать</strong>-->
                <!--</item>-->
                <!--<item href="[(UNSUB)]" target="_blank">-->
                    <!--<strong class="welcome-unsub__link">Unsubscribe</strong>-->
                <!--</item>-->
            </menu>
        </columns>
    <!--</row>-->

    <!--<spacer size="16"></spacer>-->

    <!--<row>-->
        <!--<columns large="1" small="1"></columns>-->
        <columns large="6" small="6">
            <ul class="welcome-unsub__list">
                <p class="text-left">…Но тогда вы не заработаете на:</p>
                <li>акциях и распродажах;
                </li>
                <li>наших низких оптовых ценах;
                </li>
                <li>новых позициях которые мы вводим в ассортимент.
                </li>
            </ul>
        </columns>
    </row>
