@import 'settings';
@import 'foundation-emails';
@import 'template/template';

//ROOT
.wrapper-inner {
  padding: 0 !important
}

span a {
  text-decoration: underline !important;
  color: $primary-color !important;
}

//BODY=================================================================================================================
.typography {
  padding-left: 48px !important;
  padding-right: 48px !important;
  font-size: 14px !important;
}
