@import 'settings';
@import 'foundation-emails';
@import 'template/template';


//HEADER================================================================================================================
.overhead-title th {
  font-size: 12px;
  padding: 2px;
}
.wrapper-inner {
  padding: 0 !important
}


//BODY=================================================================================================================
img[alt="picture"] {
  width: 200px !important;
}
img[alt="picture-small"] {
  width: 150px !important;
  margin-bottom: 16px;
}
img[alt="photo"] {
  width: 200px !important;
  border: 1px solid $red-color;
}
img[alt="wide-photo"] {
  width: 400px !important;
  border: 1px solid $red-color;
}

.secondary-title {
  margin-bottom: 8px;
  font-size: 20px !important;
}
.title-accent {
  color: $red-color;
}
.video-preview {
  border: 3px solid $red-color;
}
.telephone {
  color: $blue2-color !important;
  text-decoration: underline;
}
th.callout-inner {
  border: none;
}
.extra-link {
  color: $red-color !important;
  font-weight: bold !important;
  text-decoration: underline;
  font-size: 12px;
}


//TABLE=================================================================================================================
.table td {
  text-align: center;
  height: 25px;
  vertical-align: middle;
  font-size: 14px;
}
.table__column-title {
  height: 40px;
  border: 1px solid $blue2-color;
  border-top: none;
  font-weight: bold;
  text-align: center;
  font-size: 13px !important;
}
.table__column-title_left-edge {
  border-left: none;
}
.table__column-title_right-edge {
  border-right: none;
}
.table__column-title_image {
  width: 75px;
  margin: auto;
  padding: 5px;
}
.table__row-title {
  font-weight: bold;
  text-align: center;
  border-right: 1px solid $blue2-color;
  vertical-align: middle;
  background-color: $light-color;
}
.table__row_odd-row {
  background-color: white;
}



//ADVANTAGES============================================================================================================
.advantages__list {
  list-style-type: square;
  color: $red-color;
}
.advantages__title {
  color: $blue2-color;
  font-weight: bold;
}
.advantages__list__item-text {
  color: $dark-color;
  font-size: 14px;
}
.contacts-block__title {
  font-weight: bold;
  font-size: 14px;
}
.contacts-block__text {
  color: white;
  font-size: 14px;
}
.contacts-block__link {
  color: $light-color !important;
  text-decoration: underline;
  font-size: 13px;
}
.contacts-block__address {
  font-size: 12px;
  margin-bottom: auto;
}
.callout {
  margin-bottom: auto !important;
}

//FOOTER================================================================================================================
.unsubscribe-block {
  font-size: 12px !important;
}