<row>
	<columns large="6">
		<center>
			<table class="table" border="0" cellpadding="5" cellspacing="0">
				<tbody>
				<tr valign="center">
					<td class="table__column-title table__column-title_left-edge" nowrap>15с65нж<br> Ру16</td>
					<td class="table__column-title table__column-title_right-edge" nowrap>Цена</td>
				</tr>
				<tr class="table__row_odd-row">
					<td nowrap>Ду15</td>
					<td nowrap>1 300</td>
				</tr>
				<tr>
					<td nowrap>Ду20</td>
					<td nowrap>1 450</td>
				</tr>
				<tr class="table__row_odd-row">
					<td nowrap>Ду25</td>
					<td nowrap>1 520</td>
				</tr>
				<tr>
					<td nowrap>Ду32</td>
					<td nowrap>1 950</td>
				</tr>
				<tr class="table__row_odd-row">
					<td nowrap>Ду40</td>
					<td nowrap>2 300</td>
				</tr>
				<tr>
					<td nowrap>Ду50</td>
					<td nowrap>3 100</td>
				</tr>
				<tr class="table__row_odd-row">
					<td nowrap>Ду65</td>
					<td nowrap>4 130</td>
				</tr>
				<tr>
					<td nowrap>Ду80</td>
					<td nowrap>4 500</td>
				</tr>
				<tr class="table__row_odd-row">
					<td nowrap>Ду100</td>
					<td nowrap>6 200</td>
				</tr>
				<tr>
					<td nowrap>Ду150</td>
					<td nowrap>12 000</td>
				</tr>
				<tr>
					<td nowrap>Ду200</td>
					<td nowrap>22 000</td>
				</tr>
				</tbody>
			</table>
		</center>
	</columns>
	<columns large="6">
		<center>
			<table class="table" border="0" cellpadding="5" cellspacing="0">
				<tbody>
				<tr valign="center">
					<td class="table__column-title table__column-title_left-edge" nowrap>15с22нж <br>Ру40</td>
					<td class="table__column-title table__column-title_right-edge" nowrap>Цена</td>
				</tr>
				<tr class="table__row_odd-row">
					<td nowrap>Ду15</td>
					<td nowrap>1 679</td>
				</tr>
				<tr>
					<td nowrap>Ду20</td>
					<td nowrap>1 912</td>
				</tr>
				<tr class="table__row_odd-row">
					<td nowrap>Ду25</td>
					<td nowrap>2 327</td>
				</tr>
				<tr>
					<td nowrap>Ду32</td>
					<td nowrap>3 500</td>
				</tr>
				<tr class="table__row_odd-row">
					<td nowrap>Ду40</td>
					<td nowrap>3 631</td>
				</tr>
				<tr>
					<td nowrap>Ду50</td>
					<td nowrap>4 147</td>
				</tr>
				<tr class="table__row_odd-row">
					<td nowrap>Ду65</td>
					<td nowrap>6 100</td>
				</tr>
				<tr>
					<td nowrap>Ду80</td>
					<td nowrap>7 600</td>
				</tr>
				<tr class="table__row_odd-row">
					<td nowrap>Ду100</td>
					<td nowrap>10 928</td>
				</tr>
				<tr>
					<td nowrap>Ду150</td>
					<td nowrap>15 000</td>
				</tr>
				<tr class="table__row_odd-row">
					<td nowrap>Ду200</td>
					<td nowrap>25 000</td>
				</tr>
				</tbody>
			</table>
		</center>
	</columns>
</row>
