<row>
    <columns large="12">
        <center>
            <table class="table" border="0" cellpadding="5" cellspacing="0">
                <tbody>
                <tr class="table__column-title" valign="center">
                    <td class="texts-title" nowrap>Название</td>
                    <td class="numbers-title" nowrap>Цена</td>
                </tr>
                <tr class="table__row_odd-row">
                    <td nowrap>Тройник <span>530*10 (ст20) ГОСТ 17376-01</span></td>
                    <td nowrap>27000</td>
                </tr>
                <tr>
                    <td nowrap>Задвижка <span>30с41нж Ду 400 Ру16</span></td>
                    <td nowrap>83000</td>
                </tr>
                <tr class="table__row_odd-row">
                    <td nowrap>Затвор <span>600 повор. диск. редуктор</span></td>
                    <td nowrap>	58000</td>
                </tr>
                <tr>
                    <td nowrap>Заглушка фланцевая <span>Ду500 Ру16</span></td>
                    <td nowrap>12500</td>
                </tr>
                <tr class="table__row_odd-row">
                    <td nowrap>Отвод <span>820*10 (ст20) R=1 шовный</span></td>
                    <td nowrap>36000</td>
                </tr>
                <tr>
                    <td nowrap>Компенсатор рез. фланц. <span>Ду300 Ру 16</span></td>
                    <td nowrap>8500</td>
                </tr>
                <tr class="table__row_odd-row">
                    <td nowrap>Фильтр магнитный фланцевый <span>300</span></td>
                    <td nowrap>35497</td>
                </tr>
                <tr>
                    <td nowrap>Переход <span>630*12х530*10 эксцентрический</span></td>
                    <td nowrap>14000</td>
                </tr>
                <tr class="table__row_odd-row">
                    <td nowrap>Вентиль <span>15ч14п Ду200 Ру16 чугунный</span></td>
                    <td nowrap>13680</td>
                </tr>
                <tr>
                    <td nowrap>Фланец <span>1400-10-1 ст20 плоский</span></td>
                    <td nowrap>29130</td>
                </tr>
                </tbody>
            </table>
        </center>
    </columns>
</row>
