<row>
	<columns large="12">
		<center>
			<table class="table" border="0" cellpadding="5" cellspacing="0">
				<tbody>
					<tr valign="center">
						<td class="table__column-title table__column-title_left-edge" nowrap></td>
						<td class="table__column-title" nowrap>Диаметр</td>
						<td class="table__column-title table__column-title_right-edge" nowrap>Цена</td>
					</tr>
					<tr class="table__row_odd-row">
						<td nowrap rowspan="9" class="table__row-title">Фильтр <br>магнитный <br>фланцевый</td>
						<td nowrap>50</td>
						<td nowrap>1 447</td>
					</tr>
					<tr class="table__row_odd-row">
						<td nowrap>65</td>
						<td nowrap>2 300</td>
					</tr>
					<tr>
						<td nowrap>80</td>
						<td nowrap>2 522</td>
					</tr>
					<tr class="table__row_odd-row">
						<td nowrap>100</td>
						<td nowrap>3 245</td>
					</tr>
					<tr class="table__row_odd-row">
						<td nowrap>125</td>
						<td nowrap>5 348</td>
					</tr>
					<tr>
						<td nowrap>150</td>
						<td nowrap>6 770</td>
					</tr>
					<tr class="table__row_odd-row">
						<td nowrap>200</td>
						<td nowrap>11 000</td>
					</tr>
					<tr>
						<td nowrap>250</td>
						<td nowrap>23 000</td>
					</tr>
					<tr class="table__row_odd-row">
						<td nowrap>300</td>
						<td nowrap>35 497</td>
					</tr>
				</tbody>
			</table>
		</center>
	</columns>
</row>
