<row>
    <columns large="12">
        <center>
            <table class="table" border="0" cellpadding="5" cellspacing="0">
                <tbody>
                <tr class="table__column-title" valign="center">
                    <td nowrap>Размер</td>
                    <td class="text-right" nowrap>Кран LD</td>
                    <td class="text-right" nowrap>Кран Маршал</td>
                    <td class="text-right" nowrap>Кран Beeze</td>
                    <td class="text-right" nowrap>Кран Ci</td>
                </tr>
                <tr class="table__row_odd-row">
                    <td nowrap>Ду50</td>
                    <td class="text-right" nowrap>1809</td>
                    <td class="text-right" nowrap>2030</td>
                    <td class="text-right" nowrap>2060</td>
                    <td class="text-right" nowrap>2950</td>
                </tr>
                <tr>
                    <td nowrap>Ду80</span></td>
                    <td class="text-right" nowrap>2729</td>
                    <td class="text-right" nowrap>3071</td>
                    <td class="text-right" nowrap>3230</td>
                    <td class="text-right" nowrap>4288</td>
                </tr>
                <tr class="table__row_odd-row">
                    <td nowrap>Ду100</td>
                    <td class="text-right" nowrap>3200</td>
                    <td class="text-right" nowrap>6873</td>
                    <td class="text-right" nowrap>3900</td>
                    <td class="text-right" nowrap>5559</td>
                </tr>
                <tr>
                    <td nowrap>Ду150</td>
                    <td class="text-right" nowrap>7704</td>
                    <td class="text-right" nowrap>14889</td>
                    <td class="text-right" nowrap>9500</td>
                    <td class="text-right" nowrap></td>
                </tr>
                </tbody>
            </table>
        </center>
    </columns>
</row>