<row>
    <columns large="12">
        <table class="table" border="0" cellpadding="5" cellspacing="0">
            <tbody>
            <tr valign="center">
                <td class="table__column-title table__column-title_left-edge" nowrap="nowrap">&nbsp;</td>
                <td class="table__column-title" nowrap>Диаметр</td>
                <td class="table__column-title" nowrap>Кол-во</td>
                <td class="table__column-title" nowrap>Цена розн.<br />От 1шт.</td>
                <td class="table__column-title" nowrap>Цена опт<br />от 50тр</td>
                <td class="table__column-title table__column-title_right-edge" nowrap>Цена опт<br />от 150тр</td>
            </tr>
            <tr class="table__row_odd-row">
                <td class="table__row-title" nowrap rowspan="7">30с64нж</td>
                <td nowrap>50</td>
                <td nowrap>10</td>
                <td nowrap>3263</td>
                <td nowrap>2966</td>
                <td nowrap>2837</td>
            </tr>
            <tr>
                <td nowrap>80</td>
                <td nowrap>20</td>
                <td nowrap>4983</td>
                <td nowrap>4530</td>
                <td nowrap>4333</td>
            </tr>
            <tr class="table__row_odd-row">
                <td nowrap>100</td>
                <td nowrap>15</td>
                <td nowrap>6943</td>
                <td nowrap>6312</td>
                <td nowrap>6037</td>
            </tr>
            <tr>
                <td nowrap>150</td>
                <td nowrap>10</td>
                <td nowrap>13308</td>
                <td nowrap>12098</td>
                <td nowrap>11572</td>
            </tr>
            <tr class="table__row_odd-row">
                <td nowrap>200</td>
                <td nowrap>4</td>
                <td nowrap>19482</td>
                <td nowrap>17711</td>
                <td nowrap>16941</td>
            </tr>
            <tr>
                <td nowrap>250</td>
                <td nowrap>2</td>
                <td nowrap>26117</td>
                <td nowrap>23743</td>
                <td nowrap>22711</td>
            </tr>
            <tr class="table__row_odd-row">
                <td nowrap>300</td>
                <td nowrap>2</td>
                <td nowrap>36912</td>
                <td nowrap>33557</td>
                <td nowrap>32098</td>
            </tr>
            </tbody>
        </table>
    </columns>
</row>
