<row>
	<columns large="12">
		<center>
			<table class="table" border="0" cellpadding="5" cellspacing="0">
				<tbody>
				<tr valign="center">
					<td class="table__column-title table__column-title_left-edge" nowrap>Диаметр</td>
					<td class="table__column-title" nowrap>30с41нж<br>Ру16</td>
					<td class="table__column-title" nowrap>30с64нж<br>Ру25</td>
					<td class="table__column-title table__column-title_right-edge" nowrap>30с15нж<br>Ру40</td>
				</tr>
				<tr class="table__row_odd-row">
					<td nowrap class="table__row-title">Ду50</td>
					<td nowrap>3 300</td>
					<td nowrap>3 900</td>
					<td nowrap>6 200</td>
				</tr>
				<tr>
					<td nowrap class="table__row-title">Ду80</td>
					<td nowrap>4 100</td>
					<td nowrap>6 200</td>
					<td nowrap>9 400</td>
				</tr>
				<tr class="table__row_odd-row">
					<td nowrap class="table__row-title">Ду100</td>
					<td nowrap>5 500</td>
					<td nowrap>9 200</td>
					<td nowrap>13 500</td>
				</tr>
				<tr>
					<td nowrap class="table__row-title">Ду125</td>
					<td nowrap>9 500</td>
					<td nowrap>—</td>
					<td nowrap>—</td>
				</tr>
				<tr class="table__row_odd-row">
					<td nowrap class="table__row-title">Ду150</td>
					<td nowrap>10 800</td>
					<td nowrap>17 000</td>
					<td nowrap>24 000 </td>
				</tr>
				<tr>
					<td nowrap class="table__row-title">Ду200</td>
					<td nowrap>16 000</td>
					<td nowrap>24 500</td>
					<td nowrap>41 000 </td>
				</tr>
				<tr class="table__row_odd-row">
					<td nowrap class="table__row-title">Ду250</td>
					<td nowrap>24 000</td>
					<td nowrap>48 000</td>
					<td nowrap>—</td>
				</tr>
				<tr>
					<td nowrap class="table__row-title">Ду300</td>
					<td nowrap>34 000</td>
					<td nowrap>68 00</td>
					<td nowrap>—</td>
				</tr>
				<tr class="table__row_odd-row">
					<td nowrap class="table__row-title">Ду350</td>
					<td nowrap>62 000</td>
					<td nowrap>—</td>
					<td nowrap>—</td>
				</tr>

				</tbody>
			</table>
		</center>
	</columns>
</row>
